body {
    font-family: Work Sans;
}

.banner-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFF;
}

.banner-img {
    height: 20px;
}

.banner-container {
    display: flex;
    gap: 30px;
    align-items: center;

}

.banner-container a {
    text-decoration: none;
    color: #3C354F;
}

.gamer {
    color: #FF42A5;
}

.banner-btn {
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 15px;
    border-radius: 5px;

}

.side-btn {
    width: 20px;
    padding-left: 5px;

}

/* main section------- */


.main-img {
    display: flex;
    align-items: center;
    gap: 5px;
}

.img-size {
    height: 20px;
}

.main-part {

    display: flex;
    justify-content: space-around;
    background-color: #FFF;



}

.grp-img {
    height: 300px;
    margin-right: 80px;
    padding-top: 20px;

}

.goat {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    margin: 0;

}

.main-btn {
    width: 85px;
    height: 30px;
    background-color: #FF42A5;
    border: 0;
    border-radius: 30px;
    color: white;
}

.main-btn-1 {
    width: 85px;
    height: 30px;
    margin-left: 10px;
    border: 0;
    background: #4EC5F7;
    border-radius: 30px;
    color: #FFF;

}

/* Online gaming funny */
.online-game-title {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    text-align: center;

}

.pelu {
    display: flex;
    justify-content: center;
    gap: 20px;

}

.pelu img {
    height: 260px;

}

.funny {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online {
    font-size: 30px;
}


/* install */
.ghora {

    position: relative;
    margin-right: 150px;
}

.dall {
    width: 130px;


}

.no-install {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.play {
    color: #FF42A5;
}

.ghora-men {
    width: 300px;
    height: 300px;
}

.cute-dall {
    position: absolute;
    bottom: -30px;
    left: -40px;
}

.play-online {
    margin-left: 200px;
    padding-bottom: 40px;

}

/* play ground */

.more-ground{
    display: flex;
    gap: 10px;
    margin-top: 40px;
    align-items: center;
}
.more-ground:hover{

border-radius: 40px;
border: 2px solid #FF42A5;
padding: 2px 4px;
}

.footer-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.footer-bg{
    border: 1px solid;
    background: #0B0223;
    margin-top: 20px;
    color: #FFF;
}
.end{
    display: flex;
    justify-content: center;
}
.game{
    color: #FF42A5;
}
