/* mobile devices */
@media screen and (max-width: 425px) {
    .banner{
        flex-direction: column;
        
    }
    .banner-container{
        flex-direction: column;
    }
    .main-part{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-left: 80px;
        margin-top: 20px;
    }
 .pelu{
    flex-direction: column;
    margin-left: 100px;
 }
 .no-install{
   flex-direction: column;
    
}
.ghora{
margin-left: 150px;
}
.play-online{
    margin-left: 0%;

}
}